body {
    margin: auto;
    font-family: "Roboto", sans-serif;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  html {
    size: 100%;
  }
  

  .containerHeader {
    padding: 0rem 1rem;
    display: flex;
  }
  
  .logoHeader {
    display: flex;
    width: 8rem;
    height: 2.9rem;
    padding-left: 4rem;
  }
  
  header {
    display: flex;
    justify-content: center;
    background-color: #F3E9F1;
  }
  
  .navBar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  li {
      display: flex;
      list-style-type: none;
      padding: 8px 10px 8px;
      margin: 8px 10px 8px;
      width: 30%;
    
  }
  article {
    display: flex;
    list-style-type: none;
    padding: 8px 10px 8px;
    margin: 8px 10px 8px;
    width: 30%;
  }
  
  .cartNumber{
    margin: 0;
    padding: 0;
  }
  
  .cart:hover .cartt {
    color: blueviolet;
  }
  
  .product:hover {
    color: blueviolet;
  }

  .background {
    background-color: #F5F5F5;
  }
  
.bigContainer {
  display: flex;
  flex-wrap: wrap;
}

.cameraImg {

  box-sizing: content-box;
  height: 20rem;
  width: 25rem;
}

.containerArticle {
  display: flex;
}

.containerBlocCamera{
  display: flex;
  flex-direction: column;
}



  
  .footer {
    background-color: #F3E9F1;
    flex-direction: column;
  }
  .footer__head {
    margin-bottom: 0.6rem;
  }
  .footer__head--logo {
    width: 33%;
    max-width: 7rem;
  }
  
  .footerContainer {
    display: flex;
    flex-direction: column;
    line-height: 0.9rem;
  }
  .footerContainer__box--text {
    margin: 0.3rem;
    font-size: 0.97rem;
  }
  .footerContainer__box--text:hover {
    text-decoration: underline;
  }
  
  @media screen and (min-width: 768px) {
    .footer {
      text-align: center;
    }
  
    .footerContainer {
      align-items: center;
    }
  }
  
.footlogo {
  display: flex;
  justify-content: center;
  align-items: center;

}

