body {
    margin: auto;
    font-family: "Roboto", sans-serif;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  html {
    size: 100%;
    font-family: 'Roboto';
  }
  

  .containerHeader {
    padding: 0rem 1rem;
    display: flex;
  }
  
  .logoHeader {
    display: flex;
    width: 8rem;
    height: 2.9rem;
    padding-left: 4rem;
  }
  
  header {
    display: flex;
    justify-content: center;
    background-color: #F3E9F1;
  }
  
  .navBar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  li {
      display: flex;
      list-style-type: none;
      padding: 8px 10px 8px;
      margin: 8px 10px 8px;
      width: 30%;
    
  }
  article {
    display: flex;
    list-style-type: none;
    padding: 8px 10px 8px;
    margin: 8px 10px 8px;
    width: 30%;
  }
  
  .cartNumber{
    margin: 0;
    padding: 0;
  }
  
  .cart:hover .cartt {
    color: blueviolet;
  }
  
  .product:hover {
    color: blueviolet;
  }

  .background {
    background-color: #F5F5F5;
  }
  
.bigContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 1rem;
  padding: 2rem 1rem 3rem 1rem;
  background-color: #F5F5F5;
}
.fondGris {
  background-color: #F5F5F5;
  margin: 0;
}
.bigTitle {
  margin: 0;
  background-color: #F5F5F5;
  display: flex;
  padding: 2rem 3rem;
}
.cameraImg {
  height: 15rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  object-position: bottom;
}

.underPic {
  display: flex; 
  justify-content: space-between;
  align-items: center;
}
.prixCamera {
  margin-right: 1.5rem;
}

.containerBlocCamera{
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 1rem 1rem 1rem 1rem;
  box-shadow: 0 0 16px #0000002e;
  max-width: 375px;
}

.titreCamera {
  padding-left: 2rem;
}


.formulaire{
  padding: 3rem;
}

.boxPanier {
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.panierContainer{
  display: flex;
  flex-direction: column;
}
.panierTitle {
  font-size: 1.5rem;
}
.itemContainer{
  width: 600px;
  height: 200px;
  border: 1px solid black;
}

.cellule {
  width: 30%;
}





/* 
//  FOOTER //  */
  
  .footer {
    background-color: #F3E9F1;
    flex-direction: column;
  }
  .footer__head {
    margin-bottom: 0.6rem;
  }
  .footer__head--logo {
    width: 33%;
    max-width: 7rem;
  }
  
  .footerContainer {
    display: flex;
    flex-direction: column;
    line-height: 0.9rem;
  }
  .footerContainer__box--text {
    margin: 0.3rem;
    font-size: 0.97rem;
  }
  .footerContainer__box--text:hover {
    text-decoration: underline;
  }
  
  @media screen and (min-width: 768px) {
    .footer {
      text-align: center;
    }
  
    .footerContainer {
      align-items: center;
    }
  }
  
.footlogo {
  display: flex;
  justify-content: center;
  align-items: center;

}

